@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', 'sans-serif';
   
}

header{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    padding:0.9rem 0 ;
    z-index: 1000;
}

.logo{
    width: 100px;
    
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}

.search a{
    font-size: 1.05rem;
}
.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    background: rgba(115, 115, 115, .7);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter:blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar{
    position: relative;
    width: 52%;
    height: 1.5px;
    background-color: #fff;
    border-radius: 2px;
}
.hamburger .bar::before, .hamburger .bar::after{
    content: "";
    position: absolute;
    width: 60%;
    border-radius: 2px;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    background: inherit;
}
.hamburger .bar::before{
    top: -4.5px;
}
.hamburger .bar::after{
    top: 4.5px;
}

main{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-img{
    position: absolute;
    width: 2800px;
    top: calc(50% - 300px);
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
}
.bg-img{
    position: absolute;
    width: 2800px;
    top: calc(50% - 300px);
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
}